.App {
  width: 100%;
}

.Todo-Creator {
  display: flex;
  border: aqua solid 2px;
  width: 50%;
  justify-content: center;
}

.Todo-List {
  display: block;
  border: aqua solid 2px;
  width: 50%;
  height: fit-content;
}

.Todo-Item {
  margin-bottom: .1%;
  margin-top: .1%;
}

.Todo-Item-Button {
  margin-left: 0.25%;
  margin-right: 0.25%;
}

.Todo-Item-Content {
  display: inline-block;
  text-align: center;
  padding-right: 1%;
  padding-left: 1%;
  min-width: 40%;
  width: fit-content;
}